---
import MaxWidth from "@components/MaxWidth.astro";
import Headline from "src/components/Headline.astro";
import Text from "src/components/Text.astro";
---

<section id="o-mne">
  <MaxWidth size="small">
    <Headline colored="primary">Kdo jsem</Headline>
    <div class="flex flex-col gap-4">
      <Text>
        Jsem grafická designérka se zaměřením na <strong class="text-primary"
          >tvorbu originálních vizuálů</strong
        >. Pracovala jsem v marketingové agentuře, kde jsem se podílela na
        kampaních pro různé značky a vytváření kompletních vizuálních identit.
        Díky práci na různorodým projektech mám široký rozhled, který nyní
        rozvíjím jako freelancer.
      </Text>
      <Text>
        Při každém projektu kladu <strong class="text-primary">
          důraz na detail, originalitu a funkčnost.</strong
        > Pracuji s klienty individuálně a snažím se pochopit jejich potřeby i vizi.
        Mým cílem je vytvářet vizuály, které nejen vyniknou na první pohled, ale
        také dlouhodobě podpoří značku a její rozpoznatelnost.
      </Text>
      <Text>
        Specializuji se na tvorbu vizuálních identit, návrhy log a webdesign.
        Kromě toho se věnuji také print grafice – ráda navrhnu letáky, vizitky,
        brožury nebo bannery, které budou nejen esteticky atraktivní, ale také
        funkční a efektivní.
      </Text>
    </div>
  </MaxWidth>
</section>
