---
import MaxWidth from "@components/MaxWidth.astro";
---

<section class="background h-[20rem] grid place-items-center">
  <MaxWidth>
    <h1 class="text-[3.2rem] lg:text-h1 text-center font-[500]">
      Barbora Nováková
    </h1>
  </MaxWidth>
</section>
