---
import DecoratedText from '@ui/components/DecoratedText.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';
---

<section class="background grid h-80 place-items-center">
  <MaxWidth>
    <h1 class="text-center font-secondary text-[3.2rem] lg:text-h1">
      <DecoratedText intent="needle">Potřebuješ</DecoratedText> oživit svůj <DecoratedText
        intent="circle">brand?</DecoratedText
      >
      <DecoratedText>Jsem tu, abych ti s tím pomohla.</DecoratedText>
    </h1>
  </MaxWidth>
</section>
