---
import MaxWidth from "@ui/components/MaxWidth.astro";
---

<section class="background h-[20rem] grid place-items-center">
  <MaxWidth>
    <h1
      class="text-[3.2rem] lg:text-h1 text-center font-secondary text-primary"
    >
      Každý vizuál má svůj příběh – ten váš bude jedinečný
    </h1>
  </MaxWidth>
</section>
