---
import MaxWidth from "@ui/components/MaxWidth.astro";
---

<section class="background grid h-80 place-items-center">
  <MaxWidth>
    <h1
      class="text-center font-secondary text-[3.2rem] text-primary lg:text-h1"
    >
      Každý vizuál má svůj příběh – ten váš bude jedinečný
    </h1>
  </MaxWidth>
</section>
