---
import DecoratedText from '@ui/components/DecoratedText.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';
---

<section class="background grid h-80 place-items-center">
  <MaxWidth>
    <h1
      class="text-center font-secondary text-[3.2rem] text-primary lg:text-h1"
    >
      <DecoratedText intent="needle">Každý</DecoratedText> vizuál má svůj <DecoratedText
        intent="circle">příběh</DecoratedText
      >
      – ten váš <DecoratedText> bude jedinečný </DecoratedText>
    </h1>
  </MaxWidth>
</section>
