---
import PortableText from '@components/PortableText/PortableText.astro';
import type { SanityBlockContentObject } from '@domains';
import Headline from '@ui/components/Headline.astro';

interface Props {
  projectDescriptions: Array<SanityBlockContentObject> | null;
}

const { projectDescriptions } = Astro.props;
---

<section>
  <div class="mb-15 flex flex-col gap-15 lg:mb-20 lg:gap-20">
    {
      projectDescriptions?.map((section) => (
        <section>
          <div class="flex flex-col gap-5">
            <Headline size="small" intent="primary">
              {section?.title}
            </Headline>
            <PortableText portableText={section?.richText} />
          </div>
        </section>
      ))
    }
  </div>
</section>
