---
import PortableText from '@components/PortableText/PortableText.astro';
import type { SanityBlockContentObject, SanityProjectDetail } from '@domains';
import Headline from '@ui/components/Headline.astro';

interface Props
  extends Partial<NonNullable<SanityProjectDetail['parentProject']>> {
  projectPoints: Array<SanityBlockContentObject> | null;
}

const { description, projectPoints } = Astro.props;
---

<section class="top-25 h-max md:sticky md:max-w-2xl">
  <div class="flex flex-col gap-3">
    <div class="flex flex-col gap-2">
      <PortableText portableText={description} />
    </div>

    <div class="mt-8 flex flex-col gap-6">
      {
        projectPoints?.map(point => (
          <div class="flex flex-col gap-2">
            <Headline size="small">{point?.title}</Headline>
            <PortableText portableText={point?.richText} />
          </div>
        ))
      }
    </div>
  </div>
</section>
