---
import { focus } from "@constants/focus";
---

<div
  class="paper-bg relative flex flex-col gap-12.5 px-4 pb-12.5 pt-25"
>
  {
    focus.map((item) => (
      <div class="flex flex-col gap-4">
        <h2 class="font-secondary text-[3.4rem]">{item.title}</h2>
        <p>{item.description}</p>
      </div>
    ))
  }
</div>

<style>
  .paper-bg {
    background-image: url("/src/assets/elements/paper-note-height.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
