---
import type { SanityFocus } from '@domains';
import { urlFor } from '@sanity/utils';
import { Image } from 'astro:assets';

interface Props extends Partial<SanityFocus> {
  title?: string | null;
}

const { title, description, icon }: Props = Astro.props;
---

<div class="flex flex-1 flex-col gap-4 text-background">
  <h2 class="font-secondary text-[3.4rem]">{title}</h2>
  <p>
    {description}
  </p>
  {
    icon && (
      <Image
        width={icon?.asset?.metadata?.dimensions?.width ?? 0}
        height={icon?.asset?.metadata?.dimensions?.height ?? 0}
        src={urlFor(icon)?.url()}
        alt={icon?.asset?.altText ?? ''}
        class="self-end"
      />
    )
  }
</div>
