---
interface Props {
  title?: string | null;
  description?: string | null;
}

const { title, description }: Props = Astro.props;
---

<div
  class="paper-bg relative flex-1 rotate-2 px-6 pb-12.5 pt-17.5 transition-transform hover:rotate-0"
>
  <h2 class="font-secondary text-[3.4rem]">{title}</h2>
  <p>
    {description}
  </p>
</div>

<style>
  .paper-bg {
    background-image: url('/src/assets/elements/paper-note-height.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
