@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garnett";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Garnett-Regular.woff") format("woff");
}

@font-face {
  font-family: "Garnett";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Garnett-Medium.woff") format("woff");
}

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;

  }

  body {
    font-size: 1.6rem;
    font-family: "Garnett", sans-serif;
  }

  p {
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }
}
