@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    font-size: 1.6rem;
    font-family: 'Garnett', sans-serif;
    cursor: url('/cursor.svg'), auto;
  }

  body::-webkit-scrollbar {
    width: 1.2rem;
  }

  body::-webkit-scrollbar-track {
    background-color: #fff;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #343fbd;
    outline: #343fbd;
    border-radius: 1rem;
  }

  @supports (scrollbar-color: #343fbd #fff) {
    * {
      scrollbar-color: #343fbd #fff;
      scrollbar-width: auto;
    }
  }

  a,
  button {
    cursor: url('/cursor-hover.svg'), auto;
  }

  section {
    scroll-margin-top: 10rem;
  }

  p {
    font-weight: 400;
  }

  strong {
    font-weight: 600;
  }
}
