<div class="flex flex-col gap-5 lg:flex-row">
  <p><a href="tel:+420723593698">+420 723 593 698</a></p>
  <p>
    <a href="mailto:barca.novako15@gmail.com">barca.novako15@gmail.com</a>
  </p>
  <p>IČO: 123456789</p>
  <p>Brno</p>
</div>
