---
import LinkIcon from "@ui/components/LinkIcon.astro";
---

<div
  class="flex justify-end pt-2 text-right text-[1.4rem] opacity-70 md:justify-center md:text-center"
>
  <p>
    © 2024 Barbora Nováková <span class="hidden md:visible">|</span>
    <LinkIcon href="https://pavelzapletal.cz">
      Vytvořil Pavel Zapletal
    </LinkIcon>
  </p>
</div>
