---
import LinkIcon from "@components/LinkIcon.astro";
---

<div class="flex flex-col md:flex-row justify-center text-[1.4rem] opacity-70">
  <p>
    © 2024 Barbora Nováková <span class="hidden md:visible">|</span>
    <LinkIcon href="https://pavelzapletal.cz">
      Vytvořil Pavel Zapletal
    </LinkIcon>
  </p>
</div>
