---
import { getAuthorFocuses } from '@sanity/api';
import MaxWidth from '@ui/components/MaxWidth.astro';

import PaperNote from './parts/PaperNote.astro';

const focuses = await getAuthorFocuses();
---

<section>
  <MaxWidth>
    <div
      class="mx-auto flex flex-wrap justify-center sm:max-w-[55rem] md:gap-6 lg:max-w-full lg:flex-row lg:gap-10"
    >
      {
        focuses?.map(focus => (
          <PaperNote title={focus?.name} description={focus?.description} />
        ))
      }
    </div>
  </MaxWidth>
</section>
