---
import { getAuthorFocuses } from '@sanity/api';
import DecoratedText from '@ui/components/DecoratedText.astro';
import Headline from '@ui/components/Headline.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';

import PaperNote from './parts/PaperNote.astro';

const focuses = await getAuthorFocuses();
---

<section>
  <MaxWidth removeMobilePadding>
    <div class="flex flex-col gap-4 lg:gap-12">
      <Headline class="px-[2.1rem] lg:px-0"
        ><DecoratedText intent="needle" position="right"
          >S čím pomůžu</DecoratedText
        ></Headline
      >
      <div
        class="flex flex-col gap-3.5 bg-primary px-[2.1rem] py-6 md:flex-row md:gap-[7.7rem] lg:rounded-small lg:px-16.5 lg:py-6"
      >
        {
          focuses?.map(focus => (
            <PaperNote
              title={focus?.name}
              description={focus?.description}
              icon={focus?.icon}
            />
          ))
        }
      </div>
    </div>
  </MaxWidth>
</section>
