---
import type { Props as ButtonProps } from "./Button.astro";
import Button from "./Button.astro";

interface Props extends ButtonProps {
  icon: string;
}

const { icon, class: className, ...rest } = Astro.props;
---

<Button
  class:list={["flex", "gap-[1rem]", "items-center", className]}
  {...rest}
>
  <span class="icon-button_text"><slot /></span>
  <Fragment set:html={icon} />
</Button>
