---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

const maxWidth = cva(["max-w-regular", "mx-auto", "lg:px-6"], {
  variants: {
    size: {
      small: "max-w-small",
      regular: "max-w-regular",
    },
    removeMobilePadding: {
      false: "px-[2.1rem]",
      true: "px-0",
    },
  },
});

export interface Props
  extends Omit<HTMLAttributes<"div">, "disabled">,
    VariantProps<typeof maxWidth> {}

const {
  class: className,
  size = "regular",
  removeMobilePadding = false,
} = Astro.props;
---

<div class={maxWidth({ size, removeMobilePadding, className })}>
  <slot />
</div>
