---
import Layout from "@layouts/Layout.astro";
import IconButton from "@ui/components/IconButton.astro";
import arrowSvg from "../assets/hand-made/arrow.svg?raw";
---

<Layout>
  <main class="grid h-full place-content-center text-center">
    <div class="flex min-h-[55rem] flex-col justify-center gap-12">
      <h1 class="font-secondary text-[4rem] text-primary">CHYBA 404</h1>
      <p class="text-h3 font-medium text-primary">
        I ten nejlepší design začíná prázdným plátnem
      </p>
      <a href="/" class="self-center"
        ><IconButton icon={arrowSvg}> Pojdmě začít znovu </IconButton>
      </a>
    </div>
  </main>
</Layout>
