---
import Layout from "@layouts/Layout.astro";
import IconButton from "@ui/components/IconButton.astro";

import arrowSvg from "../assets/hand-made/arrow.svg?raw";
---

<Layout>
  <main class="h-full grid place-content-center text-center">
    <div class="min-h-[55rem] flex flex-col gap-12 justify-center">
      <h1 class="text-primary font-secondary text-[4rem]">CHYBA 404</h1>
      <p class="text-primary text-h3 font-medium">
        I ten nejlepší design začíná prázdným plátnem
      </p>
      <a href="/" class="self-center"
        ><IconButton icon={arrowSvg}> Pojdmě začít znovu </IconButton>
      </a>
    </div>
  </main>
</Layout>
