---
import Button from "@components/Button.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="h-full grid place-content-center text-center">
    <div class="min-h-[55rem] flex flex-col gap-12 justify-center">
      <h1 class="text-primary font-secondary text-[4rem]">CHYBA 404</h1>
      <p class="text-primary text-h3 font-medium">
        I ten nejlepší design začíná prázdným plátnem
      </p>
      <Button class="self-center">
        <a href="/"> Pojdmě začít znovu </a>
      </Button>
    </div>
  </main>
</Layout>
