---
import HeroSection from "@sections/HeroSection.astro";
import AboutSection from "@sections/AboutSection.astro";
import Layout from "@layouts/Layout.astro";
import ProjectsSection from "@sections/ProjectsSection.astro";
import ContactSection from "@sections/ContactSection.astro";
---

<Layout>
  <main class="px-[21px]">
    <HeroSection />
    <AboutSection />
    <ProjectsSection />
    <ContactSection />
  </main>
</Layout>
