---
import HeroSection from "@sections/home/HeroSection.astro";
import AboutSection from "@sections/home/AboutSection.astro";
import Layout from "@layouts/Layout.astro";
import ProjectsSection from "@sections/home/ProjectsSection.astro";
import FocusSection from "@sections/home/FocusSection.astro";
---

<Layout>
  <main class="flex flex-col gap-15 lg:gap-20 mb-15 lg:mb-20">
    <HeroSection />
    <FocusSection />
    <AboutSection />
    <ProjectsSection />
  </main>
</Layout>
