---
import IconButton from "@ui/components/IconButton.astro";
import MaxWidth from "@ui/components/MaxWidth.astro";
import { Image } from "astro:assets";

import arrowSVG from "../../assets/hand-made/arrow.svg?raw";
import logoSVG from "../../assets/icons/logo.svg";

import Navigation from "./parts/Navigation.astro";
---

<header class="sticky top-0 z-50 bg-background">
  <MaxWidth>
    <div class="relative border-b-2 border-b-black py-5">
      <div class="flex items-center justify-between">
        <a href="/">
          <Image src={logoSVG} alt="Logo pro stránku Barbory Novákové" />
        </a>
        <Navigation />
        <a href="#kontakt" class="hidden md:inline"
          ><IconButton icon={arrowSVG}>Napiš mi</IconButton></a
        >
      </div>
    </div>
  </MaxWidth>
</header>
