---
import Headline from "./Headline.astro";
---

<div class="relative paper-bg pt-[7rem] pb-[5rem] px-6">
  <Headline>Branding</Headline>
  <p>
    Připravím obaly, plakáty, vizitky, katalogy a spoustu dalšího. Vše dle
    typografických pravidel a nachystané rovnou pro tisk.
  </p>
</div>

<style>
  .paper-bg {
    background-image: url("/src/assets/elements/paper-note-height.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
