---
import { Image } from "astro:assets";
import hashtag from "../assets/hand-made/hashtag.svg";
---

<div class="text-primary flex gap-[.2rem]">
  <Image src={hashtag} alt="Tag icon" />
  <slot />
</div>
