---
import { Image } from "astro:assets";
import envelopeSVG from "../../assets/hand-made/envelope-rotated.svg";
import ContactInformation from "./parts/ContactInformation.astro";
import Copyright from "./parts/Copyright.astro";
import MaxWidth from "@ui/components/MaxWidth.astro";
import Headline from "@ui/components/Headline.astro";
---

<footer id="kontakt" class="lg:pb-10">
  <MaxWidth removeMobilePadding>
    <div
      class="flex flex-col bg-primary px-[2.1rem] pb-2.5 pt-12.5 text-background lg:h-[38rem] lg:rounded-regular lg:pt-2.5"
    >
      <div
        class="flex flex-1 flex-col justify-center lg:items-center lg:gap-17.5"
      >
        <div class="relative">
          <Headline intent="white">Napiš mi!</Headline>
          <Image
            class="absolute -bottom-10 right-0 lg:-right-26.5 lg:bottom-0"
            src={envelopeSVG}
            alt="Ikona obálky"
          />
        </div>

        <ContactInformation />
      </div>
      <Copyright />
    </div>
  </MaxWidth>
</footer>
