---
import Headline from "@components/Headline.astro";
---

<section>
  <div class="flex flex-col gap-4">
    <Headline>Máte zájem?</Headline>
    <div class="flex flex-col gap-2">
      <p><a href="tel:+420723593698">+420 723 593 698</a></p>
      <p>
        <a href="mailto:barca.novako15@gmail.com">barca.novako15@gmail.com</a>
      </p>
      <p>IČO: 123456789</p>
      <p>Brno</p>
    </div>
  </div>
</section>
