---
import { navigation } from "@constants/navigation";
import { Image } from "astro:assets";

import closeSVG from "../../../assets/hand-made/close.svg";
import hamburgerSVG from "../../../assets/hand-made/hamburger.svg";

import ExternalLinks from "./ExternalLinks.astro";

---

<style>
  .nav-links {
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .show {
    opacity: 1;
    pointer-events: auto;
  }
</style>

<nav class="flex gap-6">
  <ExternalLinks class="hidden gap-6 md:flex" />

  <div
    class="nav-links absolute bottom-0 left-0 w-full translate-y-full bg-background px-4 pb-[3.5rem] pt-[2.5rem] text-center shadow-regular"
  >
    <ul class="flex flex-col gap-7.5 font-secondary text-body1">
      {
        navigation.map((navItem) => (
          <li class="flex">
            <a class="w-full" href={navItem.href}>
              {navItem.title}
            </a>
          </li>
        ))
      }
    </ul>

    <ExternalLinks class="mt-12 flex items-center justify-center gap-5" />
  </div>

  <button class="hamburger-button md:hidden">
    <Image src={hamburgerSVG} alt="Mail icon" />
    <Image class="hidden" src={closeSVG} alt="Mail icon" />
  </button>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const hamburger = document.querySelector(".hamburger-button");
    const navLinksParent = document.querySelector(".nav-links");
    const navLinks = document.querySelectorAll(".nav-links ul li");

    const reset = () => {
      navLinksParent?.classList.remove("show");
      hamburger?.firstElementChild?.classList.remove("hidden");
      hamburger?.lastElementChild?.classList.add("hidden");
    };

    navLinks?.forEach((navLink) => {
      navLink.addEventListener("click", reset);
    });

    hamburger?.addEventListener("click", () => {
      navLinksParent?.classList.toggle("show");

      if (navLinksParent?.classList?.contains("show")) {
        hamburger?.firstElementChild?.classList.add("hidden");
        hamburger?.lastElementChild?.classList.toggle("hidden");
      } else {
        hamburger?.lastElementChild?.classList.add("hidden");
        hamburger?.firstElementChild?.classList.toggle("hidden");
      }
    });

    window.addEventListener("resize", reset);
  });
</script>
