---
import Footer from '@components/Footer/Footer.astro';
import Header from '@components/Header/Header.astro';
import { ClientRouter } from 'astro:transitions';

import '@ui/theme/base.css';
import '@ui/theme/fonts.css';
import '@ui/theme/style-reset.css';

interface Props {
  title?: string | null;
}

const { title } = Astro.props;

const fullTitle = title ? `BN Projekt | ${title}` : 'Barbora Nováková';
---

<!doctype html>
<html lang="cs" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{fullTitle}</title>
    <ClientRouter />
  </head>
  <body class="grid min-h-full grid-rows-[auto,1fr,auto] bg-background">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
