---
import DecoratedText from '@ui/components/DecoratedText.astro';
import Headline from '@ui/components/Headline.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';

import AboutDecoration from './parts/AboutDecoration.astro';
---

<section id="o-mne">
  <MaxWidth>
    <AboutDecoration>
      <Headline class="mb-10 lg:mb-12"
        ><DecoratedText>Kdo jsem</DecoratedText></Headline
      >
      <div class="flex flex-col gap-4">
        <p>
          Jsem grafická designérka se zaměřením na <strong class="text-primary"
            >tvorbu originálních vizuálů</strong
          >. Pracovala jsem v marketingové agentuře, kde jsem se podílela na
          kampaních pro různé značky a vytváření kompletních vizuálních identit.
          Díky práci na různorodým projektech mám široký rozhled, který nyní
          rozvíjím jako freelancer.
        </p>
        <p>
          Při každém projektu kladu <strong class="text-primary">
            důraz na detail, originalitu a funkčnost.</strong
          > Pracuji s klienty individuálně a snažím se pochopit jejich potřeby i
          vizi. Mým cílem je vytvářet vizuály, které nejen vyniknou na první pohled,
          ale také dlouhodobě podpoří značku a její rozpoznatelnost.
        </p>
        <p>
          Specializuji se na tvorbu vizuálních identit, návrhy log a webdesign.
          Kromě toho se věnuji také print grafice – ráda navrhnu letáky,
          vizitky, brožury nebo bannery, které budou nejen esteticky atraktivní,
          ale také funkční a efektivní.
        </p>
      </div>
    </AboutDecoration>
  </MaxWidth>
</section>
