---
import DecoratedText from '@ui/components/DecoratedText.astro';
import Headline from '@ui/components/Headline.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';
import { Image } from 'astro:assets';

import aboutImage from '../../../assets/hand-made/about.gif';
---

<section id="o-mne">
  <MaxWidth>
    <div class="flex flex-col justify-between gap-6 md:flex-row md:gap-17">
      <div>
        <Headline class="mb-10 lg:mb-12"
          ><DecoratedText intent="wavyUnderline">Kdo jsem</DecoratedText
          ></Headline
        >
        <div class="flex flex-col gap-4">
          <div>
            <p>Ahoj, jmenuji se Barbora Nováková! 👋</p>
            <p>
              Jsem grafička a ilustrátorka, která dodá vašemu brandu osobitost.
            </p>
          </div>
          <div>
            <strong class="font-[500]">Co ode mě můžeš čekat?</strong>
            <p>
              Každý projekt je pro mě unikátní výzvou. Pracuji s klienty
              individuálně a snažím se pochopit jejich potřeby i vizi. Mým cílem
              je vytvářet vizuály, které nejen zaujmou na první pohled, ale také
              dlouhodobě podpoří značku a její rozpoznatelnost.
            </p>
          </div>
          <div>
            <p><strong class="font-[500]">A jak to celé probíhá?</strong></p>
            <p>
              Nejdřív si pokecáme o tvé vizi, pak se ponořím do tvorby, doladíme
              detaily a nakonec oslavíme úspěch tvého nového brandu! Tak co,
              jdeme do toho?
            </p>
          </div>
        </div>
      </div>
      <Image
        src={aboutImage}
        alt="about me"
        class="max-w-[30rem] self-center"
        loading="eager"
      />
    </div>
  </MaxWidth>
</section>
